footer {
    background: #F04E32;
    margin-top: 20px;

}

footer img {
    height: 30px;
    margin: 10px;
}

.footer_img {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

footer a {
    color: white;
    font-size: 18px;
}

.footer_flex {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.footer_flex a {
    width: 70px;
    margin: 0 auto;
    text-align: center;
}

footer p {
    color: white;
    font-size: 18px;
    text-align: center;
}

hr {
    display: block;
    border-width: 1px;
    color: white;
    border-style: solid;
    width: 80%;
    margin: 15px auto;
}

.tlf {
    padding-bottom: 20px;
}

@media (min-width: 550px) {
    .footer_flex {
        flex-direction: row;
        width: 60%;
        margin: 0 auto;
    }

    .footer_img {
        margin-bottom: 10px;
    }

    footer img {
        height: 40px;
        margin: 20px;
    }

    .tlf {
        padding-bottom: 40px;
    }

}

